.DS_Store
node_modules

// Ignore build output
/build
/.svelte-kit

// vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

// Ignore IDE
.idea/
.vscode/

// Ignore env
.env
.env.local
.env.*.local
.env.*
!.env.example

// Ignore others
/package
.wrangler/